.hero-container.blhero2.skhero1
  %span.hero-wave
  .hero-content
    .row
      .col-md-8
        %h1.bold-headline.margin-top0.hero-item
          Spark innovation with a new workflow
        .hero-item.text-left
          %h3 
            Learn 5 branching strategies to simplify development.
            %br/
            %a{href: "/resources/ebook-git-branching-strategies/"} 
              %u Download the eBook.
        .buttons-container.margin-top20.hero-item.u-margin-top-sm
          = link_to "/free-trial/", class: "btn cta-btn large orange-light" do
            Try GitLab for FREE
          = link_to "/demo/", class: "btn cta-btn large btn-white-outlined flex-container align-center" do
            .i.fas.fa-play.play-icon
            Watch a demo
      .col-md-4.special-link
        %p
          %a{href: "/resources/ebook-git-branching-strategies/"}
            %span.special-img
              = image_tag "/images/home/gitlab-website-hero-ebook-branching-strategies-01.png"
              -#%span See the benefits in our eBook

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
