@keyframes fadeInEnterprise {
  from { 
    opacity: 0; 
  }

  to   { 
    opacity: 1; 
  }
}

.enterprise {
  .blank-header {
    display: none;
  }
}

.enterprise-page {
  animation: fadeInEnterprise 2s;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  // Utilities
  .text-centered {
    text-align: center;
  }

  .display-flex {
    display: flex;

    &.row {
      @media all and (max-width: 991px) {
        flex-direction: column;
      }
    }
  }

  // Hero
  .hero {
    background: url("/images/enterprise/officebw.jpg");
    background-size: cover;
    background-position: center center;
    padding: 120px 0 150px;
    position: relative;

    &::after {
      content: "";
      background-image: linear-gradient(to top right, #1D1237, #523E8E);
      opacity: .8;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .container {
      position: relative;
      z-index: 10;
    }

    &__content {// sass-lint:disable-line class-name-format
      max-width: 100%;
      width: 720px;
      margin: 0 auto;
      color: #fff;
      text-align: center;

      .caption {
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 15px;
        letter-spacing: 1px;
      }

      h1 {
        margin-top: 0;
        font-weight: 900;
        font-size: 50px;
        line-height: 1.1;
      }

      h3 {
        line-height: 1.25;
        margin-top: 25px;
      }
    }

    &__btn {// sass-lint:disable-line class-name-format
      display: inline-block;
      color: #fff;
      background: #e65328;
      border-radius: 4px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      padding: 12px 24px;
      margin-top: 30px;
      transition: all .2s ease;

      &:hover {
        text-decoration: none;
        background: darken(#e65328, 10%);
      }
    }
  }

  // Form
  .form {
    background: #f9f9f9;
    padding: 100px 0 50px;

    &__wrapper {// sass-lint:disable-line class-name-format
      max-width: 100%;
      width: 580px;
      margin: 0 auto;
      background: #fff;
      border: #aaa;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      margin-top: -130px;
    }

    &__title {// sass-lint:disable-line class-name-format
      text-align: center;
      background: #eee;
      padding: 9px 15px;
      border-radius: 4px 4px 0 0;

      h4 {// sass-lint:disable-line empty-line-between-blocks
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        color: #666;
      }
    }

    &__content {// sass-lint:disable-line class-name-format
      padding: 35px 35px 30px;
    }

    &__fields {// sass-lint:disable-line class-name-format
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;

      div {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        text-align: center;

        &.submit-wrap {
          width: 100%;
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }

      input[type="text"] {// sass-lint:disable-line no-qualifying-elements
        border: 1px solid #ddd;
        padding: 12px 15px;
        width: 100%;
        border-radius: 3px;
        font-size: 16px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
      }

      input[type="submit"] {// sass-lint:disable-line no-qualifying-elements
        border: 0;
        display: inline-block;
        color: #fff;
        background: #6e49cb;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        padding: 13px 20px;
        margin-top: 10px;
        transition: all .2s ease;
      }
    }
  }

  // Values
  .values {
    padding: 75px 0;
    background: #fff;
  }

  .value-block {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15px;

    h4 {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 10px;
      line-height: 1.25;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }

    &__image {// sass-lint:disable-line class-name-format
      margin-bottom: 20px;

      img {
        width: 100px;
      }
    }
  }

  .value__btn {// sass-lint:disable-line class-name-format
    display: inline-block;
    color: #fff;
    background: #e65328;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    padding: 12px 24px;
    margin-top: 30px;
    transition: all .2s ease;

    &:hover {
      text-decoration: none;
      background: darken(#e65328, 10%);
    }
  }

  // Trust 
  .trust {
    padding: 60px 0;
    background: #fff;

    h2 {
      font-weight: 700;
      font-size: 36px;

      &.trust__heading {// sass-lint:disable-line class-name-format
        span {
          font-weight: 700;
          color: #6e49cb;
        }
      }
    }

    &__quote {// sass-lint:disable-line class-name-format
      max-width: 900px;
      margin: 30px auto 0;
      width: 100%;
      text-align: center;
      // border-bottom: 1px solid #aaa;
      padding-bottom: 35px;

      &-text {// sass-lint:disable-line class-name-format
        font-weight: 300;
        color: #548;
        font-size: 26px;
        line-height: 1.25;
      }

      &-author {// sass-lint:disable-line class-name-format
        font-weight: 600;
        color: #548;
        font-size: 20px;
        margin-top: 15px;
      }

      &-company {// sass-lint:disable-line class-name-format
        font-weight: 400;
        color: #828282;
        font-size: 16px;
      }

      &-link {// sass-lint:disable-line class-name-format
        margin-top: 20px;

        .fas {
          font-size: 11px;
        }
      }
    }

    .logo-band {
      display: flex;
      justify-content: space-between;      
      margin-top: 85px;
      flex-wrap: wrap;

      @media all and (max-width: 640px) {
        justify-content: space-around;
      }

      .logo {
        margin: 0 0 40px;
        position: relative;
        width: calc(16.66% - 45px);
        text-align: center;

        @media all and (max-width: 991px) {
          width: calc(33.33% - 45px);
        }

        @media all and (max-width: 640px) {
          width: calc(50% - 45px);
        }

        img {
          max-width: 100%;
          width: 145px;
        }

        &--1 {
          top: -15px;

          img {
            width: 122px;
          }
        }

        &--2 {
          img {
            width: 160px;
          }
        }

        &--3 {
          top: -10px;
        }

        &--5 {
          top: 7px;
        }
      }
    }
  }

  // Product
  .product {
    padding: 70px 0 100px;
    background-image: linear-gradient(to bottom right, #380D75, #FC6D26);

    &__intro {// sass-lint:disable-line class-name-format
      text-align: center;
      margin-bottom: 30px;

      h2 {
        color: #fff;
        font-weight: 700;
        font-size: 36px;
      }

      h3 {
        color: #fff;
        font-weight: 300;
        line-height: 1.35;
        font-size: 22px;
        margin-bottom: 60px;
      }

      h4 {
        font-size: 26px;
        color: #fff;
        font-weight: 700;
      }
    }

    &__intro-wrap {// sass-lint:disable-line class-name-format
      max-width: 830px;
      margin: 0 auto;
    }
  }

  .product-card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px; 
    height: 100%;
    background: #fff;
    margin-bottom: 30px;

    &__image {// sass-lint:disable-line class-name-format
      border-radius: 4px 4px 0 0;

      img {
        border-radius: 4px 4px 0 0;
        height: 215px;
        width: 100%;
        object-fit: cover;
      }
    }

    &__link {// sass-lint:disable-line class-name-format
      display: inline-block;
      margin-top: 12px;
      font-size: 15px;
      line-height: 1.35;
      font-weight: 600;

      .fas {
        font-size: 11px;
      }
    }

    &__content {// sass-lint:disable-line class-name-format
      background: #fff;
      padding: 30px;
      border-radius: 4px;

      h3 {
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 20px;
        line-height: 1.2;
      }

      p {
        font-size: 16px;
        color: #666;
        margin-bottom: 22px;
      }

      ul {
        margin: 0;
        padding: 0 0 0 20px;
        font-size: 16px;
        color: #666;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  // CTA
  .cta {
    padding: 90px 0 110px;
    position: relative;
    background-image: linear-gradient(to top right, #1D1237, #523E8E);
    color: #fff;

    &::before {
      content: "";
      background-image: url("/images/enterprise/logo-gitlab.svg");
      background-repeat: no-repeat;
      position: absolute;
      background-position: center;
      background-size: 280px 280px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.21;
    }

    &__content {// sass-lint:disable-line class-name-format
      text-align: center;
      max-width: 100%;
      width: 800px;
      margin: 0 auto;

      h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.15;
        margin-bottom: 0;
        padding-bottom: 25px;
      }

      h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 15px;
      }
    }

    &__btn {// sass-lint:disable-line class-name-format
      display: inline-block;
      color: #fff;
      background: #e65328;
      border-radius: 4px;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.2;
      padding: 12px 24px;
      margin-top: 20px;
      transition: all .2s ease;

      &:hover {
        text-decoration: none;
        background: darken(#e65328, 10%);
      }
    }
  }

  // CTA Alternate
  .cta-alt {
    padding: 90px 0;
    position: relative;
    background: #f9f9f9;

    &::before {
      content: "";
      background-image: url("/images/enterprise/logo-gitlab.svg");
      background-repeat: no-repeat;
      position: absolute;
      background-position: center;
      background-size: 280px 280px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.12;
    }

    &__content {// sass-lint:disable-line class-name-format
      text-align: center;
      max-width: 100%;
      width: 800px;
      margin: 0 auto;

      h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.15;
        margin-bottom: 0;
        padding-bottom: 25px;
      }

      h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 15px;
      }
    }

    &__btn {// sass-lint:disable-line class-name-format
      display: inline-block;
      color: #fff;
      background: #e65328;
      border-radius: 4px;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.2;
      padding: 12px 24px;
      margin-top: 20px;
      transition: all .2s ease;

      &:hover {
        text-decoration: none;
        background: darken(#e65328, 10%);
      }
    }
  }
}
